@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&family=Red+Hat+Display:ital,wght@0,300;0,400;1,300&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap");
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Urbanist', sans-serif; */
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&family=Red+Hat+Display:ital,wght@0,300;0,400;1,300&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap");
  unicode-range: U+AC00- U+D7A3;
}
:root {
  --color01: #3b3b3d;
  --color02: #f1ede2;
  --color03: #a75a50;
  --color04: #fff;
  --color05: #a75a50;
  --color06: #3b3b3d;
}
:root.dark {
  --color01: #f1ede2;
  --color02: #3b3b3d;
  --color03: #a75a50;
  --color04: #3b3b3d;
  --color05: #f1ede2;
  --color06: #a75a50;
}

html {
  overflow: hidden;
}
#wrap {
  width: 100%;
  overflow: hidden;
}
#wrap02 {
  width: 100%;
  overflow: hidden;
  display: none;
}
.hor {
  display: flex;
  justify-content: space-between;
}
section {
  width: 100%;
  height: 100vh;
  background: var(--color04);
  transition: all 0.8s;
}
.sect01 .pt01:nth-child(1) {
  width: 100%;
  height: 8.5vh;
  align-items: center;
  border-bottom: 1px solid var(--color01);
  position: fixed;
  z-index: 10000000;
  background-color: var(--color04);
}
.pt01 > div:nth-child(2) {
  padding-right: 60px;
  width: 75%;
}
.pt02 .main_title.dark img {
  filter: invert(91%) sepia(12%) saturate(172%) hue-rotate(352deg)
    brightness(106%) contrast(89%);
}
.logo {
  width: 25%;
  height: 100%;
  border-right: 1px solid var(--color01);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img:nth-child(1) {
  margin-right: 15px;
}
.pt01 ul {
  font-weight: 400;
  font-size: 18px;
  width: 50%;
  margin-left: auto;
  text-transform: uppercase;
}
.pt01 ul li {
  position: relative;
  cursor: pointer;
}
.pt01 ul li:hover {
  color: #a75a50;
}
.pt01 {
  width: 100%;
  height: 8.5vh;
}

.pt02 {
  width: 100%;
  height: 83vh;
}
.pt02 > div:nth-child(1) {
  width: 25%;
  border-right: 1px solid var(--color01);
}
.pt02 .back {
  display: flex;
  width: 100%;
  height: 17vh;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color01);
  cursor: pointer;
}
.pt02 .back img {
  margin-right: 30px;
}
.pt02 .back.dark img {
  filter: invert(91%) sepia(12%) saturate(172%) hue-rotate(352deg)
    brightness(106%) contrast(89%);
}
.pt02 .aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 66vh;
  font-family: "Red Hat Display", sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  align-items: center;
  color: var(--color01);
  padding: 110px 0;
}
.pt02 .aside h1 {
  font-weight: 300;
}
.pt02 .aside > div:nth-child(1) {
  margin-bottom: 45px;
}
.pt02 .aside > div:nth-child(2) {
  width: 67%;
}
.pt02 .aside ul {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  flex-wrap: wrap;
  justify-content: start;
}
.pt02 > div:nth-child(2) {
  width: 75%;
}
.pt03 {
  width: 100%;
  height: 8.5vh;
  align-items: center;
  border-top: 1px solid var(--color01);
  position: fixed;
  z-index: 100000;
  background: var(--color04);
}
.pt03_1 {
  width: 100%;
  height: 8.5vh;
}
.pt03_1 > div:nth-child(1) {
  border-right: 1px solid var(--color01);
  width: 25%;
}
.pt03 > div:nth-child(2) {
  width: 65%;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.mode {
  width: 25%;
  height: 100%;
  border-right: 1px solid var(--color01);
  padding: 0 60px;
  align-items: center;
  text-transform: uppercase;
  /* position: fixed;
  background: #fff; */
}
.mode div {
  position: relative;
}
.mode span:nth-child(1) {
  display: block;
  width: 4.5vw;
  height: 5px;
  border-radius: 5px;
  background-color: #a75a50;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 10;
  cursor: pointer;
  transition: all 0.8s;
}
.mode span:nth-child(1).active {
  left: 50%;
}
.mode span:nth-child(2) {
  display: block;
  width: 9vw;
  height: 5px;
  border-radius: 5px;
  background-color: #a75a5075;
}
.num {
  width: 10%;
  height: 100%;
  border-left: 1px solid var(--color01);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--color01);
}
/* SECTION01 */
.sect01 .pt01 ul li.active:after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0px;
  border-bottom: 18px solid #a75a50;
  border-left: 18px solid transparent;
  transition: all 0.5s;
  display: block;
  z-index: -1;
}
.sect01 .pt02 > div:nth-child(2) {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect01 .pt02 > div:nth-child(2) img {
  width: 70%;
}
.sect01 .pt02 > div:nth-child(1) > div:first-child {
  display: flex;
  width: 100%;
  height: 25.5vh;
  font-family: "Red Hat Display", sans-serif;
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color01);
}
.sect01 .pt02 > div:nth-child(1) div:nth-child(2) {
  display: flex;
  width: 100%;
  height: 59.5vh;
  font-family: "Red Hat Display", sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: var(--color01);
}
.sect01 .pt02 > div:nth-child(1) div:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 57%;
  text-align: center;
}
.sect01 .main_title img:nth-child(2) {
  display: none;
}
/* .sect01 span:nth-child(1),
.sect01 span:nth-child(3) {
  font-size: 18px;
  width: 22px;
  height: 22px;
} */

/* SECTION02 */
.sect02 .pt02 .aside p {
  font-size: 18px;
  text-transform: none;
  line-height: 35px;
}
.sect02 .pt02 > div:nth-child(2) {
  width: 75%;
  height: 100%;
  font-size: 18pt;
  align-items: center;
  padding: 100px 6vw;
}
.sect02 .pt02 > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
/* .sect02 .pt02 > div:nth-child(2) ul {
  margin-bottom: 50px;
} */
.sect02 .pt02 > div:nth-child(2) ul:last-child {
  margin-bottom: 0;
}
.sect02 .pt02 > div:nth-child(2) li:nth-child(1) {
  color: #a75a50;
  text-decoration: underline;
  margin-bottom: 12px;
}
/* SECTION03 */
.sect03 .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #3b3b3db5;
  z-index: 100;
  display: none;
}
.sect03 .aside span {
  color: var(--color06);
}
.sect03 .aside span.active {
  color: var(--color05);
  text-decoration: underline;
  font-weight: 400;
}
.sect03 .btn_close {
  position: absolute;
  right: 22px;
  top: 22px;
  z-index: 10000;
  cursor: pointer;
}
.sect03 .wide {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 92%;
}
.sect03 .wide img {
  width: 100%;
}
.sect03 .wide .w_popup {
  display: none;
}
.sect03 .wide .w_popup2 {
  display: none;
}
.sect03 .wide .popup_box05,
.sect03 .wide .popup_box08 {
  width: 100%;
  aspect-ratio: 16/9;
}
.sect03 .wide .popup_box05 > div {
  width: inherit;
  height: 100%;
}
.sect03 .wide iframe {
  width: 100%;
  height: 100%;
}
.sect03 .pt02 .aside p {
  font-size: 18px;
  text-transform: none;
  line-height: 35px;
}
.sect03 .pt02 .aside span {
  cursor: pointer;
}
.sect03 .pt02 > div:nth-child(2) {
  padding-left: 5vw;
  display: flex;
  position: relative;
}
.pt03 .arr {
  width: 15vw;
  font-size: 18px;
  font-style: italic;
}
.pt03 .arr div {
  width: 4vw;
}
.sect03 .pt03 > div:nth-child(2) {
  padding-right: 5vw;
  justify-content: flex-end;
}

/* SECTION04 */
.sect04 .aside ul li {
  margin-bottom: 30px;
  text-transform: none;
  cursor: pointer;
  color: var(--color06);
}
.sect04 .aside ul li.active {
  color: var(--color05);
  font-weight: 400;
  text-decoration: underline;
}
.sect04 .pt02 > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect04 .swiper-slide:nth-child(1) {
  position: relative;
}
/* .sect04 .swiper-slide:nth-child(1) img:nth-child(1) {
  
  background-image: image(
    "sadaharu_aoki\(full_screenshot\).png"xywh=111px,
    45px,
    100,
    200
  );
} */
.sect04 .swiper-slide:nth-child(1) .labtop_bg {
  position: absolute;
  left: 210px;
  top: 26px;
  width: 762px;
  height: 481px;
  z-index: 100;
  background: url(../IMAGE/sadaharu_aoki\(full_screenshot\).png) no-repeat;
  background-size: 100%;
  /* background-color: #fff; */
  animation: scroll01 16s infinite linear alternate;
}
.sect04 .swiper-slide:nth-child(1):hover img:nth-child(1) {
  animation-play-state: paused;
}
@keyframes scroll01 {
  0% {
    background-position-y: 10px;
  }
  100% {
    background-position-y: -2782px;
  }
}
.sect04 .swiper-slide:nth-child(1) img:nth-child(2) {
  background: url(../IMAGE/sadaharu_aoki\(m_full_screenshot\).png) no-repeat;
  background-size: 94%;
  background-position: 6px -2130px;
  border-radius: 35px;
  background-color: var(--color04);
}

.sect04 .swiper-slide:nth-child(2) .labtop_bg {
  position: absolute;
  left: 210px;
  top: 26px;
  width: 762px;
  height: 481px;
  z-index: 100;
  background: url(../IMAGE/bma\(full_screenshot\).png) no-repeat;
  background-size: 100%;
  /* background-color: #fff; */
  animation: scroll03 10s infinite linear alternate;
}
.sect04 .swiper-slide:nth-child(2):hover img:nth-child(1) {
  animation: paused;
}
@keyframes scroll03 {
  0% {
    background-position-y: 30px;
  }
  100% {
    background-position-y: -1381px;
  }
}
.sect04 .swiper-slide:nth-child(2) img:nth-child(2) {
  background: url(../IMAGE/bma\(m_full_screenshot\).png) no-repeat;
  background-size: 90%;
  background-position: 11px -455px;
  border-radius: 35px;
  background-color: var(--color04);
  /* animation: scroll04 15s infinite linear alternate; */
}

.sect04 .pt03 > div:nth-child(2) {
  padding-right: 5vw;
  justify-content: flex-end;
}
/* SECTION05 */

.sect05 .aside ul li {
  margin-bottom: 30px;
  text-transform: none;
}
.sect05 .pt02 > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.sect05 .pt02 > div:nth-child(2) ul {
  margin-bottom: 70px;
  width: fit-content;
}
.sect05 .pt02 > div:nth-child(2) ul:last-child {
  margin-bottom: 0px;
}
.sect05 .pt02 > div:nth-child(2) li:nth-child(1) {
  font-size: 25px;
  color: #a75a50;
}
.sect05 .pt02 > div:nth-child(2) li:nth-child(2) {
  font-size: 64px;
  color: var(--color01);
}
.sect01 .pt01:nth-child(1) {
  position: fixed;
  z-index: 10000000;
  background-color: var(--color04);
}
.slash {
  margin: 0 18px;
}

.swiper-button-next,
.swiper-button-prev {
  visibility: hidden;
}

/* --------------------------------------- */
/* 360px */
@media screen and (max-width: 689px) {
  html {
    height: -webkit-fill-available;
  }
  body {
    height: 100vh;
    height: -webkit-fill-available;
  }
  #wrap {
    display: none;
  }
  #wrap02 {
    display: block;
    height: 100vh;
    height: -webkit-fill-available;
    background: var(--color04);
  }
  h1 {
    font-size: 48px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 300;
    color: var(--color01);
  }
  header {
    border-bottom: 1px solid var(--color01);
    width: 100%;
    height: 6.25vh;
    padding: 0 16px;
    align-items: center;
    position: relative;
    z-index: 1000;
    background: var(--color04);
  }
  header .hamburger {
    position: relative;
    width: 22px;
    height: 16px;
    cursor: pointer;
  }
  header .hamburger span {
    display: block;
    width: 22px;
    height: 1px;
    position: absolute;
    background: #a75a50;
  }
  header .hamburger span:nth-child(1) {
    top: 0;
    transform: translateY(-50%);
  }
  header .hamburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  header .hamburger span:nth-child(3) {
    top: 100%;
    transform: translateY(-50%);
  }
  header nav ul li {
    position: relative;
    width: fit-content;
  }
  header nav ul li.active:after {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0px;
    border-bottom: 18px solid #a75a50;
    border-left: 18px solid transparent;
    transition: all 0.5s;
    display: block;
    z-index: -1;
  }
  header .side_menu {
    position: absolute;
    top: 0;
    right: -100%;
    background: var(--color04);
    width: 80vw;
    height: 100vh;
    border-left: 1px solid var(--color01);
    transition: all 0.8s;
    z-index: 10000;
  }
  header .side_menu.show {
    right: 0%;
  }
  header .side_menu > div:nth-child(1) {
    width: 100%;
    height: 6.25vh;
    padding: 0 16px;
    align-items: center;
    border-bottom: 1px solid var(--color01);
  }
  header .side_menu > div:nth-child(1) img {
    filter: invert(39%) sepia(15%) saturate(1531%) hue-rotate(319deg)
      brightness(100%) contrast(91%);
  }
  header .side_menu > div:nth-child(1) img.dark {
    filter: invert(98%) sepia(2%) saturate(1006%) hue-rotate(353deg)
      brightness(99%) contrast(91%);
  }
  header .mode_m {
    display: flex;
    width: 80px;
    justify-content: space-between;
  }
  header .mode_btn {
    position: relative;
  }
  header .mode_btn div:nth-child(1) {
    width: 32px;
    height: 16px;
    border-radius: 16px;
    background: #a75a5071;
  }

  header .mode_btn div:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #a75a50;
    z-index: 100;
    transition: all 0.5s;
  }
  .mode_btn div:nth-child(2).active {
    left: 50%;
  }
  header nav {
    padding: 50px;
    height: 50vh;
  }
  header nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main {
    height: 87.5vh;
  }
  main .m_slide {
    width: 100%;
    height: 87.5vh;
    position: relative;
  }
  main .m_slide .swiper-wrapper {
    width: 100%;
  }
  main .m_slide .swiper-slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .part01 {
    z-index: 100;
    background: var(--color04);
  }
  main .m_slide .part01 img {
    width: 85vw;
  }
  main .m_slide .part01 img.dark {
    filter: invert(91%) sepia(12%) saturate(172%) hue-rotate(352deg)
      brightness(106%) contrast(89%);
  }

  main .part02 {
    flex-direction: column;
  }
  main .part02 > div:nth-child(1) {
    height: 18.75vh;
    width: 100%;
    border-bottom: 1px solid var(--color01);
    z-index: 100;
    background: var(--color04);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 11px;
  }
  main .part02 > div:nth-child(2) {
    position: relative;
    width: 100%;
    height: 68.75vh;
  }
  main .part02 .profile_popup {
    position: absolute;
    top: 0%;
    left: -100%;
    background: var(--color04);
    font-size: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
    border-right: 1px solid var(--color01);
    z-index: 10;
    opacity: 0;
  }
  main .part02 .profile_popup.show {
    left: 0%;
    opacity: 1;
  }
  main .part02 .profile_popup div:nth-child(1) {
    height: 63%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .part02 .profile_popup ul li:nth-child(1) {
    color: #a75a50;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  main .m_slide .profile_popup .close_btn {
    position: absolute;
    top: 40px;
    right: 30px;
  }
  main .m_slide .profile_popup .close_btn.dark {
    filter: invert(91%) sepia(12%) saturate(172%) hue-rotate(352deg)
      brightness(106%) contrast(89%);
  }

  main .m_slide .profile_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  main .m_slide .profile_body > img {
    width: 60vw;
  }
  main .m_slide .profile_body .detail_btn {
    width: 95px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 1px solid #a75a50;
    margin: 15px 0 40px 0;
  }
  main .m_slide .profile_body .skill_slide {
    width: 65vw;
    overflow: hidden;
  }
  main .m_slide .profile_body .skill_slide div {
    display: flex;
    animation: skill_slide 30s infinite linear alternate;
  }
  @keyframes skill_slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-372%);
    }
  }
  main .m_slide .profile_body .skill_slide img {
    margin-right: 16px;
  }
  main .m_slide .profile_body .skill_slide img.dark {
    filter: invert(91%) sepia(12%) saturate(172%) hue-rotate(352deg)
      brightness(106%) contrast(89%);
  }
  main .m_slide .profile_body .skill_slide img:last-child {
    margin: 0;
  }
  main .m_slide .main-pagination {
    visibility: hidden;
    display: none;
  }
  .sub_title {
    width: 100%;
    height: 18.75vh;
    border-bottom: 1px solid var(--color01);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
  }
  .part03 .sub_title {
    padding: 0 16px;
    text-align: center;
  }
  .chapter {
    width: 100%;
    height: 68.75vh;
    position: relative;
  }
  .sub_title span {
    color: var(--color06);
  }
  .sub_title span.active {
    color: var(--color05);
    font-weight: 400;
    text-decoration: underline;
  }
  .part03_mslide {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .part03_mslide .swiper-slide {
    width: 100%;
  }
  .part03_mslide .swiper-slide > div:nth-child(1) {
    width: 80vw;
    height: 43.5vh;
    border: 1px solid var(--color01);
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px var(--color04), 8px 8px var(--color01),
      6px 8px var(--color01), 8px 6px var(--color01);
    margin-bottom: 30px;
  }
  .part03_mslide .swiper-slide > div:nth-child(1) img {
    width: 85%;
  }
  .part03_mslide .swiper-slide > div:nth-child(2) {
    width: 98px;
    height: 24px;
    font-size: 11px;
    border: 1px solid #a75a50;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .part03_mslide .swiper-slide:nth-child(2) > div:nth-child(1) img {
    width: 75%;
  }
  .part03_mslide .swiper-slide:nth-child(1) > div:nth-child(1) img,
  .part03_mslide .swiper-slide:nth-child(8) > div:nth-child(1) img {
    width: 70%;
  }
  .part03_mslide .swiper-slide:nth-child(7) > div:nth-child(1) img {
    width: 65%;
  }
  .part03_mslide .swiper-slide:nth-child(4) > div:nth-child(1) img,
  .part03_mslide .swiper-slide:nth-child(6) > div:nth-child(1) img {
    width: 60%;
  }
  .part03_mslide .swiper-pagination {
    visibility: hidden;
  }
  /* mobile popup */
  .mobile {
    display: none;
  }
  .m_popup {
    overflow: hidden;
  }
  .m_popup .swiper-button-next,
  .m_popup .swiper-button-prev {
    visibility: visible;
    color: #a75a50 !important;
    --swiper-navigation-size: 25px !important;
  }
  .m_popup .swiper-slide {
    border: 1px solid var(--color01);
  }
  .part03 .btn_close {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10000;
    cursor: pointer;
  }
  .part03 .mobile .btn_close img {
    width: 70%;
  }
  .part03 .mobile {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 92%;
  }
  .part03 .mobile img {
    width: 100%;
  }
  .part03 .mobile .m_popup {
    display: none;
    background: #fff;
  }
  .part03 .mobile .m_popup2 {
    display: none;
    background: #fff;
  }
  .part03 .mobile .popup_box05 {
    width: 100%;
    height: 55vh;
  }
  .part03 .mobile .popup_box08 {
    width: 98%;
    height: 56.25vh;
    overflow: hidden;
    border: 1px solid var(--color01);
  }
  .part03 .mobile .popup_box08 .swiper-slide {
    justify-content: center;
    height: fit-content;
    background: #fff;
  }
  .part03 .mobile .popup_box08 .swiper-slide img {
    width: 70%;
  }
  .popup_box08 .swiper-scrollbar.swiper-scrollbar-vertical,
  .swiper-vertical > .swiper-scrollbar {
    right: var(--swiper-scrollbar-right, 10px);
    width: var(--swiper-scrollbar-size, 3px);
  }
  .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 8px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 8px)
    );
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: #a75a5089 !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
  }
  .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #a75a50 !important;
  }
  .part03 .mobile .popup_box05 > div {
    width: inherit;
    height: 100%;
  }
  .part03 .mobile .popup_box05 .btn_close {
    position: absolute;
    right: 0px;
    top: -25px;
    z-index: 10000;
    cursor: pointer;
    width: 20px;
  }
  .part03 .mobile .popup_box05 .btn_close img.dark {
    filter: invert(91%) sepia(12%) saturate(172%) hue-rotate(352deg)
      brightness(106%) contrast(89%);
  }
  .part03 .mobile iframe {
    width: 100%;
    height: 100%;
  }
  /* --------PART04--------- */
  .part04_mslide {
    overflow: hidden;
  }
  .part04_mslide .swiper-slide {
    width: 100%;
  }
  .part04_mslide .swiper-slide > div {
    width: 258px;
    height: 355px;
    border: 1px solid var(--color01);
    /* overflow: hidden; */
    background: #fff;
  }
  .part04_mslide .swiper-slide > div img {
    width: 100%;
  }
  .part04_mslide .swiper-slide > div:nth-child(1) {
    z-index: 10;
    position: relative;
    margin-bottom: 35px;
  }
  .part04_mslide .swiper-slide > div:nth-child(1) div:nth-child(1) {
    width: 100%;
    height: 100%;
    background: url(../IMAGE/sadaharu_aoki\(m_full_screenshot\).png);
    background-size: 100%;
    background-position: 0px -64px;
  }
  .part04_mslide .swiper-slide > div:nth-child(1) div:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(5deg);
    width: 100%;
    height: 100%;
    border: 1px solid var(--color01);
    z-index: -100;
  }
  .part04_mslide
    .swiper-slide:nth-child(2)
    > div:nth-child(1)
    div:nth-child(1) {
    width: 100%;
    height: 100%;
    background: url(../IMAGE/bma\(m_full_screenshot\).png);
    background-size: 100%;
    background-position: 0px -77px;
  }
  .part04_mslide .swiper-slide > div:nth-child(2) {
    width: 128px;
    height: 24px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a75a50;
    background: none;
  }
  .part04_mslide .swiper-pagination {
    visibility: hidden;
  }
  /* -------PART05-------- */
  .part05 .chapter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .part05 .chapter div {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .part05 .chapter ul li {
    color: var(--color01);
    font-size: 25px;
  }
  .part05 .chapter ul li:first-child {
    font-size: 11px;
    text-decoration: underline;
    color: #a75a50;
  }

  /* FOOTER */
  footer {
    width: 100%;
    height: 6.25vh;
    border-top: 1px solid var(--color01);
    font-size: 10px;
  }
  footer .ft01 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  footer .ft02 {
    display: flex;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
  }
  footer .ft03 {
    display: flex;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
  }
  .icon_prev,
  .icon_next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 54px;
    color: var(--color05);
  }
  .icon_prev img.dark,
  .icon_next img.dark {
    filter: invert(91%) sepia(12%) saturate(172%) hue-rotate(352deg)
      brightness(106%) contrast(89%);
  }
  .icon_prev img,
  .icon_next img {
    width: 10px;
    filter: invert(43%) sepia(17%) saturate(1192%) hue-rotate(319deg)
      brightness(92%) contrast(101%);
  }
  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden;
  }
}
