@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&family=Red+Hat+Display:ital,wght@0,300;0,400;1,300&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap");
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Urbanist', sans-serif; */
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&family=Red+Hat+Display:ital,wght@0,300;0,400;1,300&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap");
  unicode-range: U+AC00- U+D7A3;
}
#wrap02 {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  flex: 2;
  background-color: red;
}
main {
  flex: 6;
  background-color: aliceblue;
}
footer {
  flex: 2;
  background: blue;
}
