:root {
  --color01: #3b3b3d;
  --color02: #f1ede2;
  --color03: #a75a50;
  --color04: #fff;
}
:root.dark {
  --color01: #f1ede2;
  --color02: #3b3b3d;
  --color03: #a75a50;
  --color04: #3b3b3d;
}
.sect03-slide {
  overflow: hidden;
}
.sect03 .sect03-slide .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color04);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.sect03 .swiper-slide div:nth-child(1) {
  border: 1px solid #a75a50;
  background: #fff;
  width: 460px;
  height: 548px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  box-shadow: 7px 7px var(--color04), 8px 8px #a75a50, 6px 8px #a75a50,
    8px 6px #a75a50;
}
.sect03 .swiper-slide div:nth-child(2) {
  /* background: var(--color02); */
  padding: 4px 30px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
  border: 1px solid #a75a50;
}
.sect03 .swiper-slide:hover div:nth-child(1) {
  border: 1px solid #a75a50;
  box-shadow: 8px 8px #a75a50;
  background: #fff;
}
.sect03 .swiper-slide:hover div:nth-child(2) {
  background: #a75a50;
  color: #f1ede2;
}
.sect03 .swiper-slide img {
  display: block;
  /* width: 68%; */
  /* object-fit: cover; */
}
.sect03 .page-scroll .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  background: #fff;
}
.sect03 .page-scroll .swiper-slide img {
  width: 65%;
}
.w_popup .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  background: #a75a50;
}
.w_popup .swiper-pagination-bullet {
  background: #a75a50;
}
.swiper-scrollbar.swiper-scrollbar-vertical,
.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  left: var(--swiper-scrollbar-left, auto);
  right: var(--swiper-scrollbar-right, 28px);
  top: var(--swiper-scrollbar-sides-offset, 1%);
  z-index: 50;
  width: var(--swiper-scrollbar-size, 10px);
  height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 10%));
  top: 50%;
  transform: translateY(-50%);
  background: #a75a503f;
}
.swiper-scrollbar-drag {
  background: #a75a50;
}
.sect04 .sect04-slide {
  width: 100%;
  height: 645px;
  overflow: hidden;
}
.sect04 .swiper-slide {
  padding: 0 180px;
  width: 1065px;
  height: 645px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sect04 .swiper-slide div:nth-child(1) {
  position: relative;
  width: 100%;
  height: 567px;
}
.sect04 .swiper-slide img:nth-child(1) {
  width: 980px;
  position: absolute;
  right: 0%;
}
.sect04 .swiper-slide img:nth-child(2) {
  width: 205px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: 10;
}
.sect04 .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: var(--color04); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sect04 .swiper-slide div:nth-child(2) {
  margin-top: 50px;
  background: var(--color04);
  border: 1px solid #a75a50;
  color: var(--color01);
  padding: 4px 30px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
}
.sect04 .swiper-slide div:nth-child(2) a {
  display: block;
  width: 100%;
  height: 100%;
}
.sect04 .swiper-slide div:nth-child(2):hover {
  background: #a75a50;
  color: #f1ede2;
}
.sect04 .swiper-pagination {
  visibility: hidden;
}
.sect03-slide .swiper-pagination {
  visibility: hidden;
}
.wide .popup_box01,
.wide .popup_box02,
.wide .popup_box03,
.wide .popup_box04,
.wide .popup_box05,
.wide .popup_box06,
.wide .popup_box07,
.wide .popup_box08 {
  overflow: hidden;
  /* border: 1px solid #3b3b3d; */
  position: relative;
}
